<a href="https://colab.research.google.com/github/Burrito1510/Movie-Predictor/blob/main/MoviePredictor_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [39]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
path='/content/drive/MyDrive/IMDB-Movie-Data.csv'
df = pd.read_csv(path)

In [41]:
df.head(2)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0

In [43]:
def get_Title_from_index(index):
	return df[df.index == index]["Title"].values[0]
def get_index_from_Title(Title):
	return df[df.Title == Title]["index"].values[0]

features = ['Title','Genre','Description','Director','Actors','Year','Runtime (Minutes)','Rating','Votes','Revenue (Millions)','Metascore']
features = ['Title','Genre','Actors','Director']
def combine_features(row):
    return row['Title']+" "+row['Actors']+" "+row['Genre']+" "+row['Director']
for feature in features:
  df[feature] = df[feature].fillna('')
df["combined_features"] = df.apply(combine_features,axis=1) 
df.iloc[0].combined_features
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
cosine_sim = cosine_similarity(count_matrix)
def get_Title_from_index(Rank):
    return df[df.Rank == Rank]["Title"].values[0]
def get_index_from_Title(Title):
    return df[df.Title == Title]["Rank"].values[0]
rating = input()
movie_index = get_index_from_Title(rating)
similar_movies = list(enumerate(cosine_sim[movie_index]))
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
i=0
print("Your top 5 recommendations similar to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_Title_from_index(element[0]))
    i=i+1
    if i>5:
        break

The Great Wall
Your top 5 recommendations similar to La la land are:

Pacific Rim
The Shallows
Megamind
Magic Mike XXL
Diary of a Wimpy Kid
Warcraft